<%- include('partials/header') -%>
<div class="container">
  <h1>staff profile</h1>
  <div>
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
</div>
  </div>
<%- include('partials/footer') -%>